h1 {
  font-size: 40px;
}

@keyframes fadeInFromBottom {
    0% {
        transform: translateY(10%);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.horizontal-line {
  height: 1px;
  background-color: #D7D2D2;
  width: 80%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 100vh;
  margin-top: 20vh;
  text-align: center;
}

.header-text-wrap {
  animation: 0.5s ease-out 0s 1 fadeInFromBottom;
}

.top-spacer{
  display: none;
}

.spacer {
  display: block;
  height: 5rem;
}

.divider {
  display: block;
  height: 9rem;
}

.center-content {
  text-align: center;
}

.header-icon {
  color: #A67F67;
  font-size: 5.0rem;
  margin-bottom: 15px;
  display: block;
  animation: 1s ease-out 0s 1 fadeIn;
}

.custom-link {
  color: #A67F67;
}

a.custom-link:hover{
  color: #222;
}
/*Navigation*/
.navbar-list {
  list-style: none;
  margin-bottom: 0;
  text-align: center; }
.navbar-item {
  position: relative;
  display: block;
  margin-bottom: 0;
  text-align: center }
.navbar-link {
  text-transform: uppercase;
  font-size: 12px;
  font-family: Raleway-Bold;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 5.5rem;
  color: #A67F67;
 }

.navbar-link.active {
   color: #222;
  }

.section-header-wrap {
  text-align: center;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
}

.section-header {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Raleway-Bold;
  letter-spacing: .3rem;
  line-height: 3rem;
  color: #222;
}

.section-text-wrap {
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.social-icon {
  color: #D7D2D2;
  font-size: 30px;
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

a.social-icon:hover {
  color: #A67F67;
}

.box-wrap {
  border: 1px solid #A67F67;
  border-radius: 5px;
  padding: 30px 10px 35px 10px;
  margin-top: 5rem;
  height: 450px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box-header {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Raleway-Bold;
  letter-spacing: .3rem;
  line-height: 3rem;
  color: #222;
}

.box-icon {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 2rem;
  color: #A67F67;
  text-align: center;
  margin: 3rem 0;
}

.box-sub-header {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Raleway;
  letter-spacing: .3rem;
  line-height: 3rem;
  color: #A67F67;
}

.box-text {
  margin-bottom: 20px;
  font-size: 1.3rem;
  letter-spacing: .2rem;
}


.project-list {
 display: none;
}

.img-wrap {
  vertical-align: middle;
  display: block;
}

.img-container {
  border-radius: 10px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.color-palette {
}

.color-circle-white,
.color-circle1,
.color-circle2,
.color-circle3,
.color-circle4,
.color-circle5,
.color-circle6,
.color-circle7,
.color-circle8,
.color-circle9,
.color-circle10,
.color-circle11,
.color-circle12,
.color-circle13,
.color-circle14,
.color-circle15,
.color-circle16,
.color-circle17,
.color-circle18,
.color-circle19,
.color-circle20 {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  margin: 15px;
  vertical-align: middle;
}

.color-circle-white {
  background-color: white;
  border: 1px solid #D7D2D2;
}

.color-circle1 {
  background-color: #FFDFAC;
}

.color-circle2 {
  background-color: #9F826B;
}

.color-circle3 {
  background-color: #3D4751;
}

.color-circle4 {
  background-color: #06ACEA;
}

.color-circle5 {
  background-color: #1D8FD2;
}

.color-circle6 {
  background-color: #60398C;
}

.color-circle7 {
  background-color: #f5CE56;
}

.color-circle8 {
  background-color: #1D2226;
}

.color-circle9 {
  background-color: #D7D7D7;
}

.color-circle10 {
  background-color: #70CCC7;
}

.color-circle11 {
  background-color: #FEC93F;
}

.color-circle12 {
  background-color: #17181F;
}

.color-circle13 {
  background-color: #F2E6D8;
}

.color-circle14 {
  background-color: #9c6b4a;
}

.color-circle15 {
  background-color: #533B33;
}

.color-circle16 {
  background-color: #303030;
}

.color-circle17 {
  background-color: #CAD2C5;
}

.color-circle18 {
  background-color: #52796F;
}

.color-circle19 {
  background-color: #354F52;
}

.color-circle20 {
  background-color: #2F3E46;
}

.project-wrap {
  vertical-align: middle;
  display: block;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

.project-header {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Raleway-Bold, Kanit;
  letter-spacing: .3rem;
  line-height: 3rem;
  color: #222;
  margin-top: 15px;
}

.project-text {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-align: left;
}

.project-base {
  text-transform: uppercase;
  font-size: 12px;
  font-family: Raleway-Bold;
  letter-spacing: .2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  color: #222;
}

.contact-header {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Raleway-Bold;
  letter-spacing: .3rem;
  line-height: 4rem;
  color: #222;
  display: none;
}

.contact-xs {
  text-transform: uppercase;
  font-size: 12px;
  font-family: Raleway-Bold;
  letter-spacing: .3rem;
  line-height: 4rem;
  color: #222;
  display: block;
}

@media (min-width: 750px) {
  /*header*/
  h1 {
    font-size: 70px;
    display: inline;
  }
  .top-spacer{
    display: block;
    height: 6rem;
  }

  .spacer {
    height: 9rem;
  }

  .header-icon {
  font-size: 6.0rem;
  }

  /*content*/
  .box-wrap {
    border: 1px solid #A67F67;
    border-radius: 5px;
    padding: 20px 10px 25px 10px;
    margin-top: 5rem;
    height: 450px;
    text-align: center;
    width: 95%;
  }

  .img-wrap {
    vertical-align: middle;
    display: inline-block;
    float: none;
  }

  .project-wrap {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0;
    float: none;
    text-align: center;
  }

  .project-list {
    list-style: none;
    display: block;
    margin-bottom: 0;
    text-align: center; }

  .project-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center }

  .project-link {
    text-transform: uppercase;
    font-size: 13px;
    font-family: Raleway-Bold;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 5.5rem;
    color: #A67F67;
   }

   a.project-link:hover{
     color: #222;
   }

   .project-header {
     margin-top: 0;
   }

   .contact-header {
     display: block;
   }

   .contact-xs {
     display: none;
   }

  /*Navigation*/
  .navbar + {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 5.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    text-align: center; }
  .navbar-item {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    text-align: center }
  .navbar-link {
    text-transform: uppercase;
    font-size: 12px;
    font-family: Raleway-Bold;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5.5rem;
    color: #222;
    animation: 1.5s ease-out 0s 1 fadeIn;
   }
  .navbar-link.active {
    color: #A67F67;
   }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  .has-docked-nav .navbar > .container {
    width: 80%; }
}

/*Modal Overwrite*/
.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-title{
    font-size: 15px;
    text-transform: lowercase;
    margin: 0;
    text-align: center;
    font-family: Raleway-Bold;
    letter-spacing: 0.2rem;
    font-weight:normal;
}
